* {
    box-sizing: border-box;
}

body {
}

#backgroundCanvas {
    margin: 0;
    position: absolute;
}
#canvas {
    margin: 0;
    position: absolute;
}
body {
    margin: 0;
    font-family: 'VT323', monospace;

}

.gameOverDiv {
    background-color: rgb(61,91,142);
    width: 300px;
    color: rgb(198,188,216);
    height: 220px;
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


#restartBtn {
    border: none;
    background-color: rgb(254,145,202);
    padding: 10px 27px;
    cursor: pointer;
    color: rgb(61,91,142) ;
    font-weight: 900;
    font-family: 'VT323', monospace;

}


#restartBtn:hover {
    transform: scale(105%);
}

.boxContent {
    position: absolute;
    z-index: 500;

    font-size: 1.3rem;
    background-color:  rgb(254,145,202);
    padding: 30px;
    box-shadow: 5px 5px;
    
}


#showThis {
    top: 60px;
    left: 0;
}

#showThis #arrow {
    position: absolute;
    right: 40px;
    bottom: 30px;
}

#links {
    top: 600px;
    left: 0;
}

#links a {
    font-size: 1.7rem;
}






@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
